<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Materials -->
    <material name="grey">
        <color rgba="0.7 0.7 0.7 1" />
    </material>

    <material name="green">
        <color rgba="0 0.6 0 1" />
    </material>

    <material name="white">
        <color rgba="1 1 1 1" />
    </material>

    <!-- Base Footprint -->
    <link name="base_footprint" />

    <!-- Base Link -->
    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.15 0.15 0.12" />
            </geometry>
            <origin xyz="0 0 0.06 " rpy="0 0 0" />
            <material name="green" />
        </visual>
    </link>

    <!-- Ultrasonic Sensors -->
    <link name="left_ultrasonic">
        <visual>
            <geometry>
                <box size="0.015 0.045 0.02" />
            </geometry>
            <origin xyz="0 0 0 " rpy="0 0 1.57" />
            <material name="white" />
        </visual>
    </link>

    <link name="center_ultrasonic">
        <visual>
            <geometry>
                <box size="0.015 0.045 0.02" />
            </geometry>
            <origin xyz="0 0 0 " rpy="0 0 0" />
            <material name="white" />
        </visual>
    </link>

    <link name="right_ultrasonic">
        <visual>
            <geometry>
                <box size="0.015 0.045 0.02" />
            </geometry>
            <origin xyz="0 0 0 " rpy="0 0 1.57" />
            <material name="white" />
        </visual>
    </link>

    <!-- Wheel Macro -->
    <xacro:macro name="wheel_link" params="prefix">
        <link name="${prefix}_wheel">
            <visual>
                <geometry>
                    <cylinder radius="0.035" length="0.01" />
                </geometry>
                <origin xyz="0 0 0 " rpy="1.57 0 0" />
                <material name="grey" />
            </visual>
        </link>
    </xacro:macro>

    <!-- Wheels -->
    <xacro:wheel_link prefix="left" />
    <xacro:wheel_link prefix="right" />

    <!-- Joints -->
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint" />
        <child link="base_link" />
        <origin xyz="0 0 0.035 " rpy="0 0 0" />
    </joint>

    <joint name="base_left_ultrasonic_joint" type="fixed">
        <parent link="base_link" />
        <child link="left_ultrasonic" />
        <origin xyz="0 0.03 0.13 " rpy="0 0 0" />
    </joint>

    <joint name="base_center_ultrasonic_joint" type="fixed">
        <parent link="base_link" />
        <child link="center_ultrasonic" />
        <origin xyz="0.03 0 0.13 " rpy="0 0 0" />
    </joint>

    <joint name="base_right_ultrasonic_joint" type="fixed">
        <parent link="base_link" />
        <child link="right_ultrasonic" />
        <origin xyz="0 -0.03 0.13 " rpy="0 0 0" />
    </joint>

    <joint name="base_left_wheel_joint" type="fixed">
        <parent link="base_link" />
        <child link="left_wheel" />
        <origin xyz="0 0.08 0 " rpy="0 0 0" />
        <axis xyz="0 1 0" />
    </joint>

    <joint name="base_right_wheel_joint" type="fixed">
        <parent link="base_link" />
        <child link="right_wheel" />
        <origin xyz="0 -0.08 0 " rpy="0 0 0" />
        <axis xyz="0 1 0" />
    </joint>
</robot> 